<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wiki.zex.cloud.example.mapper.SnAnnouncementTemplateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="wiki.zex.cloud.example.entity.SnAnnouncementTemplate">
        <id column="id" property="id" />
        <result column="template_code" property="templateCode" />
        <result column="template_title" property="templateTitle" />
        <result column="template_content" property="templateContent" />
        <result column="create_at" property="createAt" />
        <result column="annoucement_type" property="annoucementType" />
    </resultMap>

</mapper>
