<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wiki.zex.cloud.example.mapper.SnNotificationUserRelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="wiki.zex.cloud.example.entity.SnNotificationUserRel">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="notification_id" property="notificationId"/>
    </resultMap>
    <select id="selectUsersByNotificationId" resultType="wiki.zex.cloud.example.entity.SyUser">
        select su.id,
               su.username,
               su.password,
               su.mobile,
               su.email,
               su.nickname,
               su.real_name,
               su.avatar,
               su.work_no,
               su.gender,
               su.birth_day,
               su.enable,
               su.locked,
               su.login_at,
               su.login_ip,
               su.expire_at,
               su.create_at
        from sy_user su
                 left join sn_notification_user_rel snur on su.id = snur.user_id
        where snur.notification_id = #{notificationId}
    </select>

</mapper>
